#contactForm .h4 {
  font-weight: 400;
  border-bottom: 1px solid silver;
}

.required-input {
  color: maroon;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
@media (max-width: 768px) and (min-width: 767px) {
  #contactForm .static-map img {
    width: 100%;
  }
}

